body {  background: #eaeaea }

/* custom */
nav.navbar-findcond { background: #fff; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc; }
nav.navbar-findcond a { color: #B34F43; }
nav.navbar-findcond ul.navbar-nav a { color: #B34F43; border-style: solid; border-width: 0 0 2px 0; border-color: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active { background: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover { border-color: #B34F43; }
nav.navbar-findcond li.divider { background: #ccc; }
nav.navbar-findcond button.navbar-toggle { background: #B34F43; border-radius: 2px; }
nav.navbar-findcond button.navbar-toggle:hover { background: #999; }
nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #fff; }
nav.navbar-findcond ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar-findcond ul.dropdown-menu > li > a { color: #444; }
nav.navbar-findcond ul.dropdown-menu > li > a:hover { background: #B34F43; color: #fff; }
nav.navbar-findcond span.badge { background: #B34F43; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar-findcond span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }
nav.navbar-findcond a.navbar-brand { color: #B34F43 }
nav.navbar-findcond form.navbar-form button.btn {padding-top: 4px; padding-bottom: 4px}
nav.navbar-findcond ul.dropdown-menu { border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; background: #fff; border-radius: 0px; margin: 1px 0; box-shadow: none }


/* sections */
section { margin-bottom: 50px }
section.cover {height: 150px; color:#eaeaea; background: #C05548; margin-top: -20px }
section.cover h1 { font-weight: bolder }
footer {color:#eaeaea; background: #994439; padding: 50px 0px}


/* components */
.breadcrumb { border: 1px solid #dddddd;border-radius: 0px; font-size: 14px;font-weight: 300;text-transform: uppercase }
.breadcrumb a {color: #B34F43; font-weight: bold}
.breadcrumb a:hover {color: #331713; text-decoration: none}
.alert-about { background: #C05548;border: medium none;padding-bottom: 50px; }
.alert-about p { padding: 0px; margin: 0px }
.alert-about a { color: #eaeaea }
.alert-about a:hover { color: #331713; text-decoration:none }


